.card {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #e8f6e8;
    /* Light green */
}

.banner {
    background-color: #e8f6e8;
}